<head>
    <title><%= @page_title %></title>
    <meta name="description" content="Rocket Elevators - Price Estimate Form" />
    <meta name="Author" content="Isaac Laquerre [www.codeboxx.biz]" />
	
    
    <script>
        function switchLanguage(value) {
            document.cookie = value;
             var link = '../formulairesdesoumission';
            if (window.location.href.indexOf("prefill") > -1) {
                var prefill = window.location.href.split("prefill=")[1];
                if (prefill === "Residential") link += "?prefill=Residentiel";
                else if (prefill === "Commercial") link += "?prefill=Commercial";
                else if (prefill === "Corporate") link += "?prefill=Corporatif";
                else if (prefill === "Hybrid") link += "?prefill=Hybride";
            }
            if (value === "FR") document.location.href = link;
            else return;
        }
        var deleteArray = [];
        function switchDisplay(elemList) {
            for (var element = 0; element < elemList.length; element++) {
                let elem = elemList[element];
                if (elem.style.visibility === "visible") {
                    elem.style.visibility = "hidden";
                    document.getElementById("select").setAttribute("style", "background-color: rgb(209, 209, 209);");
                    document.getElementById("selectAll").style.visibility = "hidden";
                    elem.checked = false;
                    deleteArray = [];
                }
                else {
                    elem.style.visibility = "visible";
                    document.getElementById("select").setAttribute("style", "background-color: rgb(171, 171, 171);");
                    document.getElementById("selectAll").style.visibility = "visible";
                }
                deleteCheck(elem);
            }
        }
        function selectAll() {
            var elemList = document.getElementsByClassName("deleteCheck");
            
            for (var element = 0; element < elemList.length; element++) {
                let elem = elemList[element];
                if (document.getElementById("selectAll").textContent === "Deselect all") {
                    elem.checked = false;
                }
                else {
                    elem.checked = true;
                }
                deleteCheck(elem);
            }
            if (document.getElementById("selectAll").textContent === "Deselect all") document.getElementById("selectAll").textContent = "Select all";
            else document.getElementById("selectAll").textContent = "Deselect all";
        }
        function deleteCheck(checkbox) {
            if (checkbox.checked) deleteArray.push(checkbox);
            else deleteArray.splice(deleteArray.indexOf(checkbox), 1);
            if (deleteArray.length > 0) document.getElementById("deleteButton").style.visibility = "visible";
            else document.getElementById("deleteButton").style.visibility = "hidden";

            var elemList = document.getElementsByClassName("deleteCheck");
            var checkedList = 0;
            var uncheckedList = 0;
            
            for (var element = 0; element < elemList.length; element++) {
                let elem = elemList[element];
                if (elem.checked) checkedList++;
                else uncheckedList++;
            }
        }
        function deleteForm() {
            for (var checkbox = 0; checkbox < deleteArray.length; checkbox++) {
                console.log(deleteArray[checkbox]);
                $.ajax({
                    type: "DELETE",
                    url: "./submissionforms/" + deleteArray[checkbox].getAttribute("data-id"),
                    success: function(data) {console.log(data);}
                    error: function(data) {console.log(data);}
                });
            }
        }
    </script>

    <style>
        .deleteCheck {
            visibility: none;
        }
        .selectButton {
            background-color: rgb(209, 209, 209);
            padding: 10px;
            border-radius: 5px;
            float: right;
        }
        .selectButton:hover {
            background-color: rgb(171, 171, 171);
        }
    </style>
</head>
<div id="header" style="background-color: rgba(0,0,0,25);" class="navbar-toggleable-md sticky header-md clearfix">
    <!-- TOP NAV -->
    <header id="topNav">
        <div class="container">

            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Logo -->
            <a class="logo float-left" href="../en">
                <img src="../assets/R2.png" alt="Rocket Elevator Logo">
            </a>
            <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                <nav class="nav-main">
                    <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                        <li class="active hovered"><!-- HOME -->
                            <a style="color: rgb(255,255,255);" href="../en">
                                HOME
                            </a>
                        </li>
                        <li class="hovered dropdown dropbtn rotate cc_cursor"><!-- SERVICES -->
                        <a class="h-60" style="color: rgb(255,255,255);" href="../en#services">SERVICES &nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        <div class="dropdown-content w-200">
                            <a href="../en/residential-buildings">Residential Buildings</a>
                            <a href="../en/corporate-buildings">Corporate Buildings</a>
                        </div>
                    </li>
                        <li class="hovered"><!-- AWARDS -->
                            <a style="color: rgb(255,255,255);" href="../en#awards">
                                AWARDS
                            </a>
                        </li>
                        <li class="hovered"><!-- NEWS -->
                            <a style="color: rgb(255,255,255);" href="../en#news">
                                NEWS
                            </a>
                        </li>
                        <li class="hovered"><!-- CLIENTS -->
                            <a style="color: rgb(255,255,255);" href="../en#clients">
                                CLIENTS
                            </a>
                        </li>
                        <li class="hovered"><!-- CONTACT -->
                            <a style="color: rgb(255,255,255);" href="../en#contact">
                                CONTACT
                            </a>
                        </li>
                        <li class="hovered"><!-- LOGIN --> 
                            <a style="color: rgb(255,255,255);" href="../employees/sign_in">LOGIN</a>
                        </li>
                        <li class="hovered"><!-- ADMIN -->
                            <a style="color: rgb(255,255,255);" href="../admin">
                                ADMIN
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>

        </div>
    </header>
  <!-- /Top Nav -->
</div>
<h1 align="center"><%= @title %></h1>
<title><%= @page_title %></title>
<h3 align="center">Your saved forms:<br></h3>
<% if Form.all.length > 0 %>
    <div class="container">
        <div class="row">
            <div class="col-sm" style="float: right;">
                <button id="selectAll" class="selectButton" style="visibility: hidden;" onclick="selectAll();">Select all</button>
                <button id="select" class="selectButton" onclick="switchDisplay(document.getElementsByClassName('deleteCheck'));">Select </button>
            </div>
        </div>
    </div>
    <div style="padding: 75px; width: 1500px; display: inline-block;" align="center">
        <div class="row">
            <% @forms.each_slice(5).to_a.each do |i|%>
                <div id="formList" class="col-sm-1" style="padding: 10px;">
                    <% i.each do |form| %>
                        <% @form = Form.find(form.id) %>
                        <% if @form.name === "" %>
                            <% @form.name = "Form #" + @form.id.to_s %>
                        <% end %>
                        <% if @form.name.length() > 25 %>
                            <% @form.name = @form.name.slice(0,25) + "..." %>
                        <% end %>
                        <% title = @form.name + " (ID: " + @form.id.to_s + ")
" %>
                        <% if @form.name.length() > 8 %>
                            <% @form.name = @form.name.slice(0, 6) + "..." %>
                        <% end %>
                        <% title += form.updated_at.in_time_zone("America/New_York").to_s.gsub(/ -0400/, "").gsub(/-/, "/") %>
                        <input type="checkbox" data-id="<%= @form.id.to_s %>" onchange="deleteCheck(this);" style="display: inline; visibility: hidden;" class="deleteCheck"></input> <%= button_to @form.name, "/submissionforms/" + form.id.to_s, :class => "btn btn-flat form-link-button", :title => title, :method => "get", :style => "display: inline-block; white-space: pre; padding: 10px; width: 75px; font-size: 13px;", form: {:style => "display: inline;"} %><br>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
<% else %>
    <p align="center" style="font-size: 20px; color: rgb(178,178,178);">You don't have any saved forms!<br>Click the "New form" button below to get started</p>
<% end %><br>
<div class="container">
    <div class="row">
        <div class="col-sm w-1500" style="float: right;">
            <button id="deleteButton" style="background-color: #fa3628; padding: 10px; border-color: black; border-radius: 5px; float: right; display: block; visibility: hidden;" onclick="deleteForm();">
                <img width="25px" src="https://cdn2.iconfinder.com/data/icons/finance-2-25/48/68-512.png"/> Delete
            </button>
            <div align="center">
                <a href="./submissionforms/new">
                    <button class="btn btn-primary">New form</button>
                </a>
            </div>
        </div>
    </div>
</div>
</a>


<div class="h-100"></div>

<section id="footer">
    <div class="container h-350">
        <div class="row">
            <div class="col-md-3">
                <!-- Footer Logo -->
                <img class="footer-logo" src="../assets/R2.png" alt="Rocket Elevators logo"
                    width="250" />

                <!-- Contact Address -->
                <address>
                    <ul class="list-unstyled">
                        <li class="footer-sprite address">
                            <a target="_blank" href="https://www.google.com/maps/place/725+Boulevard+Lebourgneuf,+Qu%C3%A9bec,+QC+G2J+1S1/@46.8428399,-71.2818835,17z/data=!3m1!4b1!4m5!3m4!1s0x4cb897ddc2cec043:0xd450d4d0da014cc8!8m2!3d46.8428399!4d-71.2796948">725 Boulevard Lebourgneuf, Québec, QC G2J 0C4</a><br>
                        </li>
                        <li class="footer-sprite phone">
                            Phone: <a href="tel:581-701-0303">(581) 701-0303</a>
                        </li>
                        <li class="footer-sprite email">
                            <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a>
                        </li>
                    </ul>
                </address>
                <!-- /Contact Address -->

            </div>

            <div class="col-md-2">

                <!-- Links -->
                <h4 class="letter-spacing-1">EXPLORE ROCKET ELEVATORS</h4>
                <ul class="footer-links list-unstyled">
                    <li><a href="../en">Home</a></li>
                    <li><a href="../en#services">Our Services</a></li>
                    <li><a href="../en#clients">Our Clients</a></li>
                    <li><a href="../en#contact">Contact Us</a></li>
                </ul>
                <!-- /Links -->

            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            &copy; All Rights Reserved, Rocket Elevators LTD
        </div>
    </div>
    </div>
</section>