
		<!-- wrapper -->
		<div id="wrapper"><div id="header" style="background-color: rgba(0,0,0,25);" class="navbar-toggleable-md sticky header-md clearfix">
			<!-- TOP NAV -->
			<header id="topNav">
				<div class="container">
		
					<!-- Mobile Menu Button -->
					<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="fa fa-bars"></i>
					</button>
		
					<!-- Logo -->
					<a class="logo float-left" href="./en">
						<%= image_tag "R2.png" %>
					</a>
					<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
						<nav class="nav-main">
							<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
								<li class="active hovered"><!-- HOME -->
									<a style="color: rgb(255,255,255);" href="./en">
										HOME
									</a>
								</li>
								<li class="hovered"><!-- SERVICES -->
									<div class="dropdown dropbtn rotate">
										<a class="h-25" style="color: rgb(255,255,255);" href="./en#services">
											SERVICES &nbsp; <i class="fa fa-angle-right"></i>
										</a>
										<div class="dropdown-content">
											<a href="./en/residential-buildings">Residential Buildings</a>
											<a href="./en/corporate-buildings">Corporate Buildings</a>
										</div>
									</div>
								</li>
								<li class="hovered"><!-- AWARDS -->
									<a style="color: rgb(255,255,255);" href="./en#awards">
										AWARDS
									</a>
								</li>
								<li class="hovered"><!-- NEWS -->
									<a style="color: rgb(255,255,255);" href="./en#news">
										NEWS
									</a>
								</li>
								<li class="hovered"><!-- CLIENTS -->
									<a style="color: rgb(255,255,255);" href="./en#clients">
										CLIENTS
									</a>
								</li>
								<li class="hovered"><!-- CONTACT -->
									<a style="color: rgb(255,255,255);" href="./en#contact">
										CONTACT
									</a>
								</li>
								<li class="hovered"><!-- CONTACT -->
									<a style="color: rgb(255,255,255);" href="./admin">
										USERS
									</a>
								</li>
								<li class="hovered"><!-- CONTACT -->
									<a style="color: rgb(255,255,255);" href="./admin">
										EMPLOYEE
									</a>
								</li>																
								<%# <li><!-- LANGUAGE SWITHCER -->
									<select onchange="switchLanguage(this.value);" style="color: black;">
										<option id="EN" selected>EN</option>
										<option id="FR">FR</option>
									</select>
								</li> %>
							</ul>
		
						</nav>
					</div>
		
				</div>
			</header>
		<!-- /Top Nav -->
		</div>

  <div id="wrapper" class="container" align="center" style="padding-top: 100px;">

    <h2>Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <label>Email 
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </label>
        </div>
        <div class="field">
          <label>Password 
            <%= f.password_field :password, autocomplete: "current-password" %>
          </label>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <label>
              <%= f.check_box :remember_me %> Remember me
            </label>
          </div>
        <% end %>

        <div class="actions">
        <button class="btn btn-default btn-lg">
          <a <%=f.submit%> Log in </a>
        </button>
        </br></br>
        Don't have an account? <%= render "devise/shared/links" %>
        </div>
      </br></br>
    <div>
    <%= image_tag "R2.png", style: "width:500px" %>
    </div>
  </div>
</body>    
<% end %>